---
layout: default
---
<h2>Recently Added Ideas</h2>
<p>
  This is the latest batch of YANIs, spanning from 2021 July 1 to 2021 September 30.
</p>
<p>
  Note: this page doesn't include recent changes to <a href="/bigideas.html">Big Ideas</a>.
</p>
{% comment %}
EDIT THE WHERE_EXP CLAUSE TO THE NEW FIRST IDEA ADDED
{% endcomment %}
{% assign yanisbynum = site.yanis | group_by_exp: "item", "item.title | to_integer" | where_exp: "item", "item.name >= 3650" | sort: "name" %}
{% for item in yanisbynum %}
  {% assign yani = item.items[0] %}
  {% include yanitemplate.html %}
{% endfor %}
