<header role="banner">
  <div class="header-table">
    <div class="headercol">
      <img id="title-image" src="/assets/nh4tx_white.gif"/>
    </div>
    <div class="headercol nowrap">
      <a href="/" class="pagetitle">Ideas Archive</a>
    </div>
    <div class="headercol">
      <a href="/index.html">Main Page</a>
      &middot;
      <a href="/recent.html">Recent Additions</a>
      &middot;
      <a href="/authors.html">Authors List</a>
      &middot;
      <a href="/tags.html">Tags List</a>
    </div>
  </div>
</header>

