<section class="post">
  <div class="firstline">
    <h3 class="yanititle">
        <a href="/yanis/{{yani.title}}.html">#{{ yani.title }}</a>
    </h3>
    <div class="righttitle">
      <div class="authors">
        {% for author in yani.authors %}
          {% include linkedauthor.html %}
        {% endfor %}
      </div>
      &nbsp;&middot;&nbsp;
      <div class="intended">
      {% if yani.categories.size != 0 %}
          {% for variant in yani.categories %}
            <span class="variant {{ variant | replace: " " "" }}">{{ variant }}</span>
          {% endfor %}
      {% else %}
        <span class="variant vanilla">vanilla</span>
      {% endif %}
      </div>
    </div>
  </div>
  <div class="yanicontent">
    {{ yani.content }}
  </div>
  {% if yani.tags.size != 0 %}
    <div class="tags">
      {% for tag in yani.tags %}
        {% include linkedtag.html %}
      {% endfor %}
    </div>
  {% endif %}
</section>
