<!-- Expects "yani" to be defined with the attendant variables. -->
<section class="post">
  <div class="firstline">
    <h3 class="yanititle">#{{ yani.title }}</h3>
    <div class="righttitle">
      <div class="authors">
        {% for author in yani.authors %}
          <span class="author {{ author }}">{{ author }}</span>
        {% endfor %}
      </div>
      &nbsp;&middot;&nbsp;
      <div class="intended">
      {% if yani.categories.size != 0 %}
          {% for variant in yani.categories %}
            <span class="variant {{ variant }}">{{ variant }}</span>
          {% endfor %}
      {% else %}
        <span class="variant vanilla">vanilla</span>
      {% endif %}
      </div>
    </div>
  </div>
  <div class="yanicontent">
    {{ yani.content }}
  </div>
  {% if yani.tags.size != 0 %}
    <div class="tags">
      {% for tag in yani.tags %}
        <span class="tag">{{ tag }}</span>
      {% endfor %}
    </div>
  {% endif %}
</section>
