/* global */
a {
    text-decoration: none;
    color: inherit;
}

body {
    padding: 0;
    margin: 0;
    font-size: 16px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

main {
    max-width:70%;
    min-width: 800px;
    margin-left: auto;
    margin-right: auto;
}


/* page header */
header {
    text-align: center;
    background-color: black;
    color: white;
}

div.header-table {
    display:table;
    width: auto;
    padding: 5px 5px 0px 5px;
}

div.headercol {
    display:table-cell;
    vertical-align: middle;
}
div.headercol:last-child {
    width:100%;
    text-align: right;
    padding-right: 5px;
}
div.headercol.nowrap {
    white-space: nowrap;
}

.pagetitle {
    font-family: Times, serif;
    margin: 0;
    font-size: 200%;
    color:white;
    margin-left: 0.5em;
}


/* format and layout of an idea */
section.post {
    padding: 0.5em;
    border-bottom: 1px black solid;
    display:block;
    overflow:auto;
}
div.righttitle {
    display: inline;
    float: right;
}
div.authors {
    display: inline;
}
div.intended {
    display: inline;
}
h3.yanititle {
    margin:0;
    display: inline;
}
.authors {
    display:block;
    margin-bottom: 0.2em;
}

.intended {
    display:block;
    margin-bottom: 0.2em;
}

.author {
    font-size:90%;
    padding: 0.1em 0.3em;
    border: 2px #99e solid;
    border-radius: 3px;
    color: #55b;
    display: inline-block;
}

.variant {
    padding: 0.1em 0.3em;
    border: 2px black solid;
    color: black;
    display: inline-block;
}

.tag {
    font-size:80%;
    padding: 0.1em 0.2em;
    border: 1px #888 solid;
    border-radius: 4px;
    color: #888;
    display: inline-block;
}

/* specific authors */
/* .aosdict { */
/*     background-color: #22f; */
/*     color: #fff; */
/* } */

/* specific variants */
/* .GruntHack { */
/*     background-color: #f90; */
/*     border-color: #a60; */
/* } */

