/* global */
a {
    text-decoration: none;
    color: inherit;
}

ul {
    padding-left: 1.5em;
}

p a, li a {
    color: #77f;
}
p a:hover, li a:hover {
    color:#aaf;
}

html {
    height: 100%;
}

body {
    padding: 0;
    margin: 0;
    font-size: 16px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    height: 100%;
    display: flex;
    flex-direction: column;
}

main {
    width:45%;
    min-width: 800px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 1em;
    flex: 1 0 auto;
}


/* page header */
header {
    text-align: center;
    background-color: black;
    color: white;
}

div.header-table {
    display:table;
    width: auto;
    padding: 5px 5px 0px 5px;
}

div.headercol {
    display:table-cell;
    vertical-align: middle;
}
div.headercol:last-child {
    width:100%;
    text-align: right;
    padding-right: 5px;
}
div.headercol.nowrap, div.headercol a {
    white-space: nowrap;
}

.pagetitle {
    font-family: Times, serif;
    margin: 0;
    font-size: 200%;
    color:white;
    margin-left: 0.5em;
}


/* page footer */
.site-footer {
    margin-left: 2em;
    flex-shrink: 0;
    font-size: 70%;
    color: #777;
}


/* format and layout of an idea */
section.post {
    padding: 0.5em;
    border-bottom: 1px black solid;
    display:block;
    overflow:auto;
}
div.righttitle {
    display: inline;
    float: right;
}
div.authors {
    display: inline;
}
div.intended {
    display: inline;
}
.yanititle {
    margin:0;
    display: inline;
}
h2.yanititle {
    font-size:200%;
}
h3.yanititle {
    text-decoration: underline;
}
.firstline {
    display:block;
}
.authors {
    display:block;
    margin-bottom: 0.2em;
}

.intended {
    display:block;
    margin-bottom: 0.2em;
}

h3.tagsubsection {
    margin-bottom: 0;
    margin-top: 0.5em;
}

div.yanicontent p, div.yanicontent ul, div.yanicontent ol {
    margin-top: 0.3em;
    margin-bottom: 0.3em;
}
div.yanicontent li {
    margin-top: 0.3em;
}

.author {
    font-size:90%;
    padding: 0.1em 0.3em;
    border: 2px #555 solid;
    border-radius: 5px;
    color: black;
    display: inline-block;
}

.variant {
    padding: 0.1em 0.3em;
    border: 2px black solid;
    color: black;
    display: inline-block;
}

.tag {
    font-size:80%;
    padding: 0.1em 0.2em;
    border: 1px #888 solid;
    border-radius: 4px;
    color: #888;
    display: inline-block;
}
.tag:hover {
    color: black;
    background-color: #ddd;
}

/* stolen from nethackwiki */
span.nhsym {
    font-family: "Courier New","Menlo","DejaVu Sans Mono","Courier",monospace;
    font-weight: bold;
    font-size: large;
    background-color:black;
    padding: 0 1px;
}
/* colors made brighter than they are on nethackwiki */
/* note: this assumes a black background */
.clr-blue          { color:#11F; }
.clr-green         { color:#0B0; }
.clr-cyan          { color:#0CC; }
.clr-red           { color:#F00; }
.clr-magenta       { color:#D0D; }
.clr-brown         { color:#C70; }
.clr-lightgray     { color:#CCC; }
.clr-darkgray      { color:#888; }
.clr-brightblue    { color:#88F; }
.clr-brightgreen   { color:#0F0; }
.clr-brightcyan    { color:#5FF; }
.clr-orange        { color:#F75; }
.clr-brightmagenta { color:#F5F; }
.clr-yellow        { color:#FF5; }
.clr-white         { color:#FFF; }


/* specific to the authors list page */
main > div.authors > a > span {
    margin-bottom:0.4em;
}

/* specific to the tags list page */
main div.tags > a > span {
    margin-bottom: 0.4em;
}


/* specific variants and their authors */
/* colors chosen to be the same as the X11 colors in the variant history graph */
.GruntHack {
    background-color: #ff8c00;
}
.SporkHack, .lorimer {
    background-color: #d3d3d3;
}
.UnNetHack, .bhaak {
    background-color: #ffd700;
}
.dNetHack, .Chris_ANG, .NeroOneTrueKing, .Tarmunora, .rikersan, .Demo, .Noisytoot {
    background-color: #ee82ee;
}
.NetHack4, .ais523 {
    background-color: #ffbbff;
}
.NetHackFourk, .jonadab {
    background-color: #00ffff;
}
.FIQHack, .FIQ {
    background-color: #00cdcd;
}
.DynaHack, .tungtn {
    background-color: #ff4500;
}
.SLEX, .AmyBSOD {
    background-color: #87cefa;
}
.xNetHack, .aosdict {
    background-color: #7cfc00;
}
.SpliceHack, .AntiGulp {
    background-color: #66cd00;
}
.EvilHack, .K2 {
    background-color: #eb2d53;
}
.HackEM, .hackemslashem, .malor {
    background-color: #7fffd4;
}
