/* global */
a {
    text-decoration: none;
    color: inherit;
}

body {
    padding: 0;
    margin: 0;
    font-size: 16px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

a.pagetitle {
    margin: 0;
    vertical-align: middle;
    font-size: 200%;
    color:white;
    margin-left: 0.5em;
}

/* page header */
header {
    text-align: center;
    width: 100%;
    background-color: black;
    color: white;
}

/* idea */
section.post {
    padding: 0.5em;
    border-bottom: 1px black solid;
    display:block;
    overflow:auto;
}
h3.yanititle {
    margin:0;
}
div.primary {
    width:75%;
    float:left;
}

.extras {
    float: right;
    /* min-width: 20%; */
}

.authors {
    display:block;
    margin-bottom: 0.2em;
}

.intended {
    display:block;
    margin-bottom: 0.2em;
}

.implementors {
    display:block;
}

.author, .variant {
    padding: 0.2em 0.5em;
    border: 1px #666 solid;
    border-radius: 4px;
    background-color: #bbb;
    display: inline-block;
}

/* specific authors */
.aosdict {
    background-color: #22f;
    color: #fff;
}

/* specific variants */
.GruntHack {
    background-color: #f90;
    border-color: #a60;
}

