---
layout: default
---
{% if page.tag %}
  <h2>All ideas tagged "{{ page.tag }}"</h2>
{% elsif page.author %}
  <h2>All ideas with {{ page.author }} as a contributor</h2>
{% else %}
  <h2>Hmm... this page is broken (it didn't define a tag or author).</h2>
{% endif %}
{{ content }}
{% assign yanisbynum = site.yanis | group_by_exp: "item", "item.title | to_integer" | sort: "name" %}
{% for item in yanisbynum reversed %}
  {% assign yani = item.items[0] %}
  {% if yani.tags contains page.tag or yani.authors contains page.author %}
    {% include yanitemplate.html %}
  {% endif %}
{% endfor %}
